.1_7 { 
	overflow:hidden;
}
.e1_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:1347px;
	height:800px;
	position:absolute;
}
.e34_3 { 
	background-color:rgba(128.88981342315674, 64.8656277358532, 210.37499696016312, 1);
	width:1347px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_59 { 
	background-color:rgba(81.86968490481377, 39.10000070929527, 136.00000709295273, 1);
	width:1347px;
	height:84px;
	position:absolute;
	left:0px;
	top:716px;
}
.e34_6 { 
	color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:1347px;
	height:64px;
	position:absolute;
	left:0px;
	top:730px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e4_18 { 
	color:rgba(246.49999290704727, 246.49999290704727, 246.49999290704727, 1);
	width:343px;
	height:106px;
	position:absolute;
	left:75px;
	top:33px;
	font-family:Kanit;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e4_19 { 
	color:rgba(239.0625, 235.078125, 235.078125, 1);
	width:251px;
	height:81px;
	position:absolute;
	left:75px;
	top:139px;
	font-family:Kanit;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e9_68 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:456.3173522949219px;
	height:297.2498474121094px;
	position:absolute;
	left:849.6826782226562px;
	top:363.4983215332031px;
}
.e9_69 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:456.3173522949219px;
	height:297.2498474121094px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.9_69 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e9_70 { 
	color:rgba(118.00000056624413, 118.00000056624413, 118.00000056624413, 1);
	width:408px;
	height:135px;
	position:absolute;
	left:23.3173828125px;
	top:76.50167846679688px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e9_71 { 
	color:rgba(43.00000123679638, 43.00000123679638, 43.00000123679638, 1);
	width:406.5372314453125px;
	height:81.35258483886719px;
	position:absolute;
	left:24.8900203704834px;
	top:21.90264892578125px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e34_8 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:456.3173522949219px;
	height:297.2498474121094px;
	position:absolute;
	left:376px;
	top:363.4983215332031px;
}
.e34_9 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:456.3173522949219px;
	height:297.2498474121094px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.34_9 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e34_10 { 
	color:rgba(118.00000056624413, 118.00000056624413, 118.00000056624413, 1);
	width:408px;
	height:212px;
	position:absolute;
	left:28px;
	top:61.501678466796875px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
.e34_11 { 
	color:rgba(43.00000123679638, 43.00000123679638, 43.00000123679638, 1);
	width:406.5372314453125px;
	height:81.35258483886719px;
	position:absolute;
	left:24.890085220336914px;
	top:21.90264892578125px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e34_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:456.3173522949219px;
	height:297.2498474121094px;
	position:absolute;
	left:376px;
	top:50px;
}
.e34_13 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:456.3173522949219px;
	height:297.2498474121094px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.34_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e34_14 { 
	color:rgba(118.00000056624413, 118.00000056624413, 118.00000056624413, 1);
	width:408px;
	height:150px;
	position:absolute;
	left:26px;
	top:103px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e34_15 { 
	color:rgba(43.00000123679638, 43.00000123679638, 43.00000123679638, 1);
	width:406.5372314453125px;
	height:81.35258483886719px;
	position:absolute;
	left:24.890085220336914px;
	top:21.902587890625px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e34_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:456.3173522949219px;
	height:297.2498474121094px;
	position:absolute;
	left:849.6826782226562px;
	top:50px;
}
.e34_17 { 
	background-color:rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
	width:456.3173522949219px;
	height:297.2498474121094px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.34_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e34_18 { 
	color:rgba(118.00000056624413, 118.00000056624413, 118.00000056624413, 1);
	width:408.19659423828125px;
	height:175.220947265625px;
	position:absolute;
	left:23.153457641601562px;
	top:103.2552490234375px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e34_19 { 
	color:rgba(43.00000123679638, 43.00000123679638, 43.00000123679638, 1);
	width:406.5372314453125px;
	height:81.35258483886719px;
	position:absolute;
	left:24.8900203704834px;
	top:21.902587890625px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
